* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html,body {
    min-height: 100vh;
    width: 100vw;
}
#page1 {
    min-height: 20vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding:0 2vw;
}
#upper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding:18px 4px;
    gap: 1vw;
    margin-top: -10px;
    background-color:#F7F8FA ;
}
#upper h4{
    font-size: 13px;
    font-weight: 300;
}
.btnlogin{
    width:80px;
    height:20px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    color: black;
    font-weight: 300;
    margin-left: 40px;
    transition: .5s;
}
.btnlogin:hover{
    background-color: black;
    color: white;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0,0, .5);
    display:none;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transform: scale(0);
    transition: transform .5s ease ,height .2s ease;
    margin: 0 auto;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    /* display: none; */
}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index:1;
}
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#162938;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height:1%;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn12{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.nav {
    height: 26px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.nav img {
    height: 67px;
    width: 137px;
    margin-left: 20px;
}
.nav-part2 {
    display: flex;
    gap: 2vw;
    margin: -2px 8px 1px 29px;
}
.nav-part2 a{
    position: relative;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.nav-part2 a::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 4px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ;
    bottom: -0.6px;
}
.nav-part2 a:hover::after{
    transform-origin:left ;
    transform: scaleX(1);
}
.search {
    margin: 2px 2px 2px 2px ;
    display: flex;
    gap:1vw;
    padding: 2px 2px 2px 2px ;
}
.ri-menu-3-fill {
    font-size: 1.3vw;
    display: none;
}
@media  (max-width:600px) {
    #upper {
        padding: 10px 7px 13px 1px;
        margin: 6px 17px 8px 2px;
    }
    .nav-part2 {
        display: none;
    }
    input {
        display: none;

    }
    .ri-menu-3-fill{
        font-size: 29px; 
        margin: 4px 2px 2px 2px;
        display: flex;
        gap: 6vw;
        padding: 5px 18px 4px 2px;
    }
    #search {
        margin: 4px 2px 2px 2px;
        display: flex;
        gap: 6vw;
        padding: 5px 18px 4px 2px;
        font-size: 27px;
    }
    #heart {
        display: none;
    }  
}

@media  (max-width:1024px) {
    #upper {
        padding: 10px 7px 13px 1px;
        margin: 6px 17px 8px 2px;
    }
    .nav-part2 {
        display: none;
    }
    input {
        display: none;

    }
    .ri-menu-3-fill{
        font-size: 29px; 
        margin: 4px 2px 2px 2px;
        display: flex;
        gap: 6vw;
        padding: 5px 18px 4px 2px;
    }
    #search {
        margin: 4px 2px 2px 2px;
        display: flex;
        gap: 6vw;
        padding: 5px 18px 4px 2px;
        font-size: 27px;
    }
    #heart {
        display: none;
    }  
}
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next .swiper-button-prev{
    display: none;
    background-color: black;
  }
  .TEXT{
    position: relative;
  text-align: center;
  color: white;
  }
  .ts{
  position: absolute;
  top:50%;
  left: 61%;
  transform: translate(-24%, -50%);
  font-size: 43px;
  text-transform: uppercase;
  font-weight: 800;
  }
  .title h2 {
    font-weight: 700;
    font-size: 2pc;
    line-height: 1.6;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 21rem;
}
 .row{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    
}
.row2{
    margin-top: 20px;
    background-color: white;
    box-sizing: border-box;
    margin-left:26px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 0px;
}

.row6{
    max-width: 21rem;
    max-height:20rem;
    background-color: #F7F8FA;
     margin: 9px 2px 5px 0px;
}

.code{
    display: flex;
    align-items: flex-end;
    padding: 6px 10px 0;
    line-height: 2;
}
.panel__title {
    font-size: 1pc;
    line-height: 25px;
    font-weight: 400;
    margin-left: 0px;
}
.panel__code {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 600;
    margin-top: 4px;
    overflow: hidden;
    height: 2.7pc;
    margin-left: 0px;
}

.btn_1{
    margin: 28px;
    padding: 16px;
    text-align: center;
  }

  .btn{
    border: 1px solid white;
    min-height: 45px;
    min-width:285px;
    font-size: 14px;
    background-color: black;
    margin: 5px;
    padding: 8px;
    color:white;
    border-radius:2px;
    text-decoration: none;
    outline: none;
  }

  .heading h2{
    font-weight: 700;
    font-size: 37px;
    line-height: 0.6;
    padding-top: 0rem;
    padding-bottom: -9rem;
    padding-left: 4rem;
  }
  .contain{
    width: 118%;
    height: 100%;
    margin: -11px 2px 17px -265px;
    padding: 16px 0px;
  }

.img_container {
    width: 80%;
    padding: 2px;
    margin: 26px -2px 7px 318px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cnin{
    width:250px;
    margin:0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
}

.cnin img {
display: block;
width:96%;
margin: 30px 2px 2px 2px;
border-radius: 5px;
padding:2px 2px 2px 2px;
}

.cnin:hover {
transform:scale(1.3);
z-index:2;
}

.img_style {
    font-size:15px;
    line-height:24px;
    position: relative;
    display: inline-block;
}
.ex_re  {
    margin-top: 10px;
    font-size: 10px;
    line-height: 1pc;
    letter-spacing: .18em;
    overflow: hidden;
    height: 47px !important;
    
}
.nin{
    width:250px;
    margin:0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    background-color: #F7F8FA;
    margin:0px 50px 0px 0px;
    gap: 12px;
}


.nin img {
    display: block;
    width: 86%;
    margin: 13px 2px 33px -12px;
    border-radius: 6px;
    text-align: justify;
    }

.nin:hover {
   transform:scale(1.3);
   z-index:2;
}
.footer1{
    font-size: 14px;
    font-weight: 200;
    margin: 10px 0px 5px 60px;
}
.footer2{
    background-color: #F7F8FA;
    float: left;
    clear: none;
    width: 100%;
}
.foot{
    display: flex;
    max-width: 834pt;
    margin: -9px auto;
    padding: -4px 12px;
}
.category-itmes{
    margin: 20px;
    padding: 20px;
}
.foot-product{
    margin: 20px;
    padding: 20px;
}
ul {
    list-style-type: none;
}
.corporatell li a{
    color: #5a5a5a;
    text-decoration: none;
    font-size: 14px;
    margin: 20px;
    padding: 20px;
}
.logo-media{
    display: flex;
    position: relative;
     bottom: 3px; 
     margin-left: 10px;
     padding-left: 10px;
}
.logo-image{
    display: flex;
}
.logo-image li img{
    width: 38px;
    margin: 3px;
    padding: 3px;
}
.policy02{
    display: flex;
}
 .policy03{
    display: flex;
    flex-wrap: wrap;
 }
 .policy03 li{
    margin-right: 8px;
    margin-bottom: 5px;
    margin-left: 31px;
 }
 .policy03 li a{
    color: black;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 11px;
}
.location{
    margin-bottom: 15px;
}
.location a{
    color: #000;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    margin-left: 15px;
}
.bottom{
    display: flex;
    flex-direction: column;
    padding: 0px 35px 1px;
    margin-top: -10px;
}
.copyright{
    font-size: 9px;
    color: #000;
}
.endfooter{
font-size: 14px;
line-height: 2;
font-weight: 400;
margin: 20px;
padding: 10px;
}
.h4end a{
    color: #000;
}